<h1 class="main-title">💪 Gym Bulk Shop 💪</h1>

<div class="intro-text-box">
  <p class="intro-text">
    Here, we believe in empowering people to reach their full potential and
    achieve their health and fitness goals. With our premium selection of
    supplements, we provide the fuel and support you need to transform your
    body, push beyond your limits, and unleash your full results.
    Our expertly-designed supplements are backed by science and formulated to
    deliver results that you can see and feel. Join us on the journey to
    becoming your strongest, healthiest self with the #1 shop for fitness
    supplements, GymBulkShop.
  </p>
</div>

<h2 class="subtitle">Categories</h2>
<div class="button-cards">
  <a class="button-card" routerLink="/supplements">
    <img class="button-card-img" src="../../../assets/images/supplements.png" />
    Supplements
  </a>
  <a class="button-card" routerLink="/kits">
    <img class="button-card-img" src="../../../assets/images/kits.png" />
    Kits
  </a>
  <a class="button-card" routerLink="/bundles">
    <img class="button-card-img" src="../../../assets/images/bundles.png" />
    Bundles
  </a>
</div>
