

.product-img {
    width: 350px;
    padding: 20px;
}

.productcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supp-buttons {
    display: flex;
    flex-direction: row;
   
}

.btn {
    margin: 2px;
}