<div class="product-page">
  <h1 class="main-title">{{ supplement?.name }}</h1>
  <div class="button-row">
    <a class="btn" routerLink="..">&larr; Back</a>
  </div>

  <div class="product-row">
    <div class="col-md-4">
      <img
        class="product-img"
        src="../../../assets/images/jack3d_blue_raspberry.png"
        alt="{{ supplement?.name }}"
      />
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6 product-info">
      <h2 class="product-title">
        {{ supplement?.name }}
      </h2>
      <span
        >{{ reviews.length }} Reviews -
        <a routerLink="review">Write review</a></span
      >
      <hr />
      <p>
        <b>Type:</b> {{ supplement?.supplementType }} <br />
        <span *ngIf="supplement?.containsLactose"
          >⚠ Contains lactose <br
        /></span>
        <span *ngIf="supplement?.isVegan">✅ Vegan <br /></span>
      </p>
      <hr />
      <p class="product-price">€{{ supplement?.price }} p.p.</p>
      <div class="supp-buttons">
        <a
          class="btn btn-secondary"
          routerLink="/supplements/{{ supplement?._id }}/edit"
        >
          Edit</a
        >
        <a
          class="btn btn-danger"
          (click)="deleteSupplement()"
          routerLink="/supplements"
        >
          Delete</a
        >
      </div>
    </div>
  </div>
  <hr />
  <div class="product-info row">
    <div class="col-md-6">
      <h3>Ingredients</h3>
      <li *ngFor="let ingredient of supplement?.ingredients">
        {{ ingredient }}
      </li>
      <span *ngIf="supplement?.ingredients?.length == 0" class="text-muted"
        >No known ingredients</span
      >
    </div>
    <div class="col-md-6">
      <h3>Flavours</h3>
      <li *ngFor="let flavour of supplement?.flavours">
        {{ flavour }}
      </li>
      <span *ngIf="supplement?.flavours?.length == 0" class="text-muted"
        >No other flavours</span
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <h3>Reviews</h3>
      <review-list *ngIf="reviews.length != 0"></review-list>
      <div *ngIf="reviews.length == 0">
        <p class="text-muted">There are no reviews yet.</p>
      </div>
    </div>
  </div>
</div>
