<div>
  <h2>
    {{ supplement?.name }}
  </h2>

  <p>
    Type: {{ supplement?.supplementType }} <br />
    contains lactose: {{ supplement?.containsLactose }} <br />
    is vegan: {{ supplement?.isVegan }} <br />
    price: {{ supplement?.price }} <br />
  </p>

  <a
    class="btn btn-secondary"
    routerLink="/supplements/{{ supplement?._id }}/edit"
  >
    Edit</a
  >
  <a
    class="btn btn-danger"
    (click)="deleteSupplement()"
    routerLink="/supplements"
  >
    Delete</a
  >
</div>
