<div *ngIf="readmode">
  <div class="review">
    <div class="review__header">
      <div class="review__header__left">
        <div class="review__header__left__name">
          <b>{{ review!.title }}</b>
        </div>
      </div>
      <div class="review__header__right">
        <div class="review__header__right__rating">
          <div class="review__header__right__rating__stars">
            <div
              class="review__header__right__rating__stars__star"
              *ngFor="let star of [1, 2, 3, 4, 5]"
            >
              <i
                class="fa fa-star"
                [ngClass]="{
                  'fa-star': star <= review!.rating,
                  'fa-star-o': star > review!.rating
                }"
                style="color: goldenrod"
              >
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="review__body">
      <div class="review__body__text">{{ review!.text }}</div>
    </div>
    <div class="review_buttons">
      <button class="btn btn-secondary">Edit</button>
      <button class="btn btn-danger" (click)="deleteReview()">Delete</button>
    </div>
  </div>
</div>
<div *ngIf="editmode">editblock works!</div>
