<h1 class="main-title">Supplements</h1>

<div class="button-row">
  <a class="btn" routerLink="/home">&larr; Back</a>
  <a class="btn" routerLink="/supplements/add">Add Supplement</a>
</div>

<div class="product-grid">
  <div *ngFor="let supplement of supplements" class="product-card">
    <img
      class="product-card-img"
      src="../../../assets/images/jack3d_blue_raspberry.png"
      routerLink="/supplements/{{ supplement._id }}"
    />
    <a routerLink="/supplements/{{ supplement._id }}">
      <span class="product-card-title">{{ supplement.name }}</span
      ><br />
      <span>€{{ supplement.price }}</span>
    </a>
  </div>
</div>
