.product-grid {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border: 1px grey solid;
  margin-inline: 5px;
  margin-bottom: 20px;
  transition: 0.3s;
  padding: 10px;
  background-color: rgb(71, 30, 30);
  border-radius: 5px;
}
.product-card:hover {
  cursor: pointer;
  background-color: rgb(126, 3, 3);
  scale: 1.02;
}

.product-card a {
  color: white;
  text-decoration: none;
}

.product-card-title {
  font-size: 20px;
  text-align: start;
  font-weight: bold;
}

.product-card-img {
  height: 230px;
  width: 230px;
  margin-inline: auto;
}
