<form
  #productAddForm="ngForm"
  name="form"
  (ngSubmit)="productAddForm.form.valid && addSupplement()"
>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      [(ngModel)]="supplement!.name"
      #name="ngModel"
      required
    />
    <div
      *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="name.errors?.['required']">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="supplementType">Supplement Type</label>
    <select
      class="form-control"
      [(ngModel)]="supplement!.supplementType"
      #supplementType="ngModel"
      name="supplementType"
      required
    >
      <option value="" selected disabled hidden>Select a type</option>
      <option value="Vitamin" >
        Vitamin
      </option>
       <!-- Vitamin = "vitamin",
    FishOil = 'fishOil',
    Protein = 'protein',
    Creatine = "creatine",
    Other = 'other',
    PreWorkout =  'preWorkout', -->
    </select>
    <div
      *ngIf="
        supplementType.invalid &&
        (supplementType.dirty || supplementType.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="supplementType.errors?.['required']">
        Supplement Type is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="containsLactose">Contains Lactose</label>
    <input
      type="checkbox"
      id="containsLactose"
      name="containsLactose"
      [(ngModel)]="supplement!.containsLactose"
      #containsLactose="ngModel"
    />
    <div
      *ngIf="
        containsLactose.invalid &&
        (containsLactose.dirty || containsLactose.touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="containsLactose.errors?.['required']">
        Contains Lactose is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="isVegan">Is Vegan</label>
    <input
      type="checkbox"
      id="isVegan"
      name="isVegan"
      [(ngModel)]="supplement!.isVegan"
      #isVegan="ngModel"
    />
    <div
      *ngIf="isVegan.invalid && (isVegan.dirty || isVegan.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="isVegan.errors?.['required']">Is Vegan is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      [(ngModel)]="supplement!.price"
      #price="ngModel"
      required
      min="0,50"
      max="50"
    />
    <div
      *ngIf="price.invalid && (price.dirty || price.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="price.errors?.['required']">Price is required</div>
      <div *ngIf="price.errors?.['min']">Price must be at least 0,50</div>
      <div *ngIf="price.errors?.['max']">Price must be at most 50</div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="addSupplement()"
    [disabled]="productAddForm.invalid"
    routerLink="/supplements"
  >
    Submit
  </button>
</form>
